@model Fit_5032_NewCar.Models.Order_Line

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order_Line</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Contact_PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.Contact_PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.CarVin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.CarVin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
