@model Fit_5032_NewCar.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentingStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentingStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentingEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentingEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
